---
import PostCard from "../../components/PostCard.astro";
import Layout from "../../layouts/Layout.astro";

const posts = await Astro.glob("../../posts/*.md");
---

<Layout title="Khair's Posts | Posts">
  <section class="posts-section">
    <h1 class="sub-headings">Posts</h1>
    <section class="posts-list">
      {
        posts.map((post) => (
          <PostCard
            title={post.frontmatter.title}
            excerpt={post.frontmatter.excerpt}
            date={post.frontmatter.date}
            author={post.frontmatter.author}
            tags={post.frontmatter.tags}
            slug={post.frontmatter.slug}
          />
        ))
      }
    </section>
  </section>
</Layout>
