---
export interface Props {
  title: string;
  excerpt: string;
  date: string;
  author: string;
  tags: string[];
  slug: string;
}

const { title, excerpt, date, author, tags, slug } = Astro.props as Props;
---

<a href=`/posts/${slug}` class="article">
  <h2>{title}</h2>
  <ul class="tags">
    {tags.map((tag) => <li class="tag">{tag}</li>)}
  </ul>
  <h3>{author} on {new Date(date).toLocaleDateString()}</h3>
  <p>{excerpt}</p>
</a>
